In [61]:
import pandas as pd

df = pd.read_csv("desafio_indicium_imdb2.csv")

ATORES QUE MAIS APARECEM NO DATAFRAME

In [62]:
atores=pd.concat([df['Star1'], df['Star2'], df['Star3'], df['Star4'] ])
top10_atores=atores.value_counts()
print(f"Top 10 atores que mais aparecem no dataframe: \n{top10_atores.head(10)}")

Top 10 atores que mais aparecem no dataframe:
Robert De Niro       17
Tom Hanks            14
Al Pacino            13
Brad Pitt            12
Clint Eastwood       11
Leonardo DiCaprio    11
Christian Bale       11
Matt Damon           11
Denzel Washington     9
Johnny Depp           9
Name: count, dtype: int64

GÊNEROS QUE MAIS APARECEM NO DATAFRAME

In [63]:
generos = df['Genre'].str.split(', ')
gen_separados=df.assign(gen_ind=generos).explode('gen_ind')

top10_generos=gen_separados["gen_ind"].value_counts()

print(top10_generos.head(10))

gen_ind
Drama        596
Comedy       191
Crime        171
Adventure    170
Action       156
Thriller     110
Romance      107
Biography     96
Mystery       84
Animation     67
Name: count, dtype: int64

DIRETORES QUE MAIS APARECEM NO DATAFRAME

In [64]:
top20_diretores=df["Director"].value_counts()

print(f"Os diretores que mais aparecem nos filmes são: \n{top20_diretores.head(20)}")

Os diretores que mais aparecem nos filmes são:
Director
Steven Spielberg     13
Martin Scorsese      10
Alfred Hitchcock      9
Woody Allen           8
Clint Eastwood        8
David Fincher         8
Quentin Tarantino     8
Christopher Nolan     8
Rob Reiner            7
Hayao Miyazaki        7
Billy Wilder          6
Joel Coen             6
Sergio Leone          6
Wes Anderson          6
Richard Linklater     6
Stanley Kubrick       6
Ridley Scott          6
Ron Howard            5
Alfonso Cuarón        5
Denis Villeneuve      5
Name: count, dtype: int64

MÉDIA DO IMDB_RATING DOS TOP20 DIRETORES

In [65]:
lista_diretores=top20_diretores.head(20).index
df_top20_dir=df[df["Director"].isin(lista_diretores)]
media_dir=df_top20_dir.groupby('Director')['IMDB_Rating'].mean().sort_values(ascending=False)

print(f"Média de IMDB por diretores do top 20:{media_dir}")

Média de IMDB por diretores do top 20:Director
Christopher Nolan    8.462500
Stanley Kubrick      8.266667
Sergio Leone         8.266667
Billy Wilder         8.200000
Quentin Tarantino    8.175000
Martin Scorsese      8.170000
Alfred Hitchcock     8.144444
Hayao Miyazaki       8.142857
Ridley Scott         8.083333
David Fincher        8.037500
Steven Spielberg     8.030769
Denis Villeneuve     7.980000
Ron Howard           7.920000
Clint Eastwood       7.912500
Richard Linklater    7.900000
Wes Anderson         7.833333
Rob Reiner           7.828571
Joel Coen            7.816667
Woody Allen          7.800000
Alfonso Cuarón       7.760000
Name: IMDB_Rating, dtype: float64

MELHORES NOTAS POR GÊNERO

In [66]:
notas_genero= gen_separados.groupby('gen_ind').agg(
    media_imdb=('IMDB_Rating', 'mean'),
    vezes_gen=('Series_Title', 'count')
).sort_values(by='media_imdb', ascending=False)

print(f"Média de Nota IMDB por gênero: \n{notas_genero.head(20)}")

#agg = agregar para média

Média de Nota IMDB por gênero:
           media_imdb  vezes_gen
gen_ind
Western      8.037500         16
War          8.018919         37
Film-Noir    8.009091         11
Sci-Fi       7.991803         61
Mystery      7.969048         84
Adventure    7.962941        170
Crime        7.959649        171
Drama        7.951678        596
Action       7.946795        156
Romance      7.929907        107
Sport        7.926316         19
History      7.925581         43
Biography    7.925000         96
Animation    7.922388         67
Thriller     7.920909        110
Musical      7.914286         14
Music        7.909091         33
Fantasy      7.905357         56
Comedy       7.896859        191
Family       7.889583         48

In [67]:
generos=df['Genre'].str.split(', ')
gen_separados = df.assign(gen_ind=generos).explode('gen_ind')

def media_minutos_top20(group):
    top20_filmes= group.nlargest(20, 'IMDB_Rating')
    return top20_filmes['Runtime'].mean()

duracao=gen_separados.groupby('gen_ind').apply(media_minutos_top20)
duracao_ordenada=duracao.sort_values(ascending=False)

print(f"Média de minutos dos top 20 filmes de cada gênero:{duracao_ordenada.head(21)}")

Média de minutos dos top 20 filmes de cada gênero:gen_ind
Drama        156.200000
History      155.550000
Biography    152.900000
Action       148.500000
Musical      145.571429
Adventure    143.700000
Crime        141.750000
Western      134.562500
Sci-Fi       134.450000
War          133.950000
Sport        132.631579
Mystery      126.450000
Thriller     125.550000
Music        122.600000
Romance      121.700000
Comedy       115.300000
Fantasy      114.500000
Family       112.600000
Horror       107.400000
Animation    104.900000
Film-Noir    101.363636
dtype: float64

/tmp/ipython-input-3794801104.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  duracao=gen_separados.groupby('gen_ind').apply(media_minutos_top20)

MÉDIA DE VOTOS DO TOP 20 POR GÊNERO

In [68]:
generos=df['Genre'].str.split(', ')
gen_separados = df.assign(gen_ind=generos).explode('gen_ind')

def media_votos_top20(group):
  top_20_filmes = group.nlargest(20, "IMDB_Rating")
  return top_20_filmes["No_of_Votes"].mean()

votos=gen_separados.groupby('gen_ind').apply(media_votos_top20)
maiores_votos=votos.sort_values(ascending=False)

print(f"A média de votos dos top 20 filmes, considerando o gênero é de: {maiores_votos.head(21).to_string(float_format='{:.0f}'.format)} ")

A média de votos dos top 20 filmes, considerando o gênero é de: gen_ind
Drama       1319619
Action      1117516
Adventure   1060791
Crime       1012085
Sci-Fi       891018
Thriller     627323
Biography    542983
Animation    540956
Mystery      535346
Fantasy      534676
Comedy       419756
Romance      382811
War          350422
History      331524
Family       294828
Horror       279799
Western      272667
Sport        256619
Music        187786
Film-Noir     93989
Musical       85256

/tmp/ipython-input-1481279033.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  votos=gen_separados.groupby('gen_ind').apply(media_votos_top20)

DÉCADAS QUE MAIS SE REPETEM NOS 100 MELHORES FILMES

In [69]:
df['Released_Year'] = pd.to_numeric(df['Released_Year'])

df['Decada']=(df['Released_Year'] // 10) * 10
melhores_100= df.head(100)
decadas= melhores_100['Decada'].value_counts()

print(decadas)

Decada
1990    23
2000    21
2010    20
1980    12
1970     9
1960     7
1950     4
1940     2
1930     2
Name: count, dtype: int64

### PERGUNTA 2

A) Qual filme você recomendaria para uma pessoa que você não conhece?

In [70]:
df['Decada']=(df['Released_Year'] // 10) * 10
lista_diretores= ['Christopher Nolan', 'Steven Spielberg']
lista_atores=['Robert De Niro', 'Tom Hanks', 'Al Pacino', 'Brad Pitt']

decada_ideal = (df['Decada'] == 1990)
genero_ideal = df['Genre'].str.contains('Drama')
diretor_ideal = df['Director'].isin(lista_diretores)
ator_ideal= (df['Star1'].isin(lista_atores) |
                 df['Star2'].isin(lista_atores) |
                 df['Star3'].isin(lista_atores) |
                 df['Star4'].isin(lista_atores))

possiveis_filmes=df[decada_ideal &
                         genero_ideal &
                         diretor_ideal &
                         ator_ideal]
print(possiveis_filmes[['Series_Title', 'Released_Year', 'IMDB_Rating', 'Director', 'Star1']])

           Series_Title  Released_Year  IMDB_Rating          Director  \
21  Saving Private Ryan           1998          8.6  Steven Spielberg

        Star1
21  Tom Hanks

B) Quais são os principais fatores que estão relacionados com alta expectativa de faturamento de um filme?

In [71]:
df_faturamento=df.nlargest(50, "Gross")

#generos
generos_top50=df_faturamento["Genre"].str.split(",").explode()
quantos_generos=generos_top50.value_counts()
print(f"Os gêneros mais repetidos no top50: \n{quantos_generos.head(10)}")

#atores
atores_top50=pd.concat([
    df_faturamento["Star1"],
    df_faturamento["Star2"],
    df_faturamento["Star3"],
    df_faturamento["Star4"]
])

quantos_atores=atores_top50.value_counts()
print(f"\n\n Os atores mais presentes no top 50: \n{quantos_atores.head(10)}")

#diretores
diretores_top50=df_faturamento["Director"].value_counts()
print(f"\n \n Os diretores que mais se repetiram no top 50 faturamento foram: {diretores_top50.head(10)}")

Os gêneros mais repetidos no top50:
Genre
 Adventure    36
Action        26
 Comedy       13
Animation     11
 Fantasy      10
 Sci-Fi       10
 Drama         8
Adventure      5
 Family        5
Drama          4
Name: count, dtype: int64


 Os atores mais presentes no top 50:
Robert Downey Jr.    5
Daniel Radcliffe     5
Rupert Grint         5
Emma Watson          4
Ian McKellen         4
Orlando Bloom        4
Elijah Wood          3
Tom Hanks            3
Joe Russo            3
Mark Hamill          3
Name: count, dtype: int64


 Os diretores que mais se repetiram no top 50 faturamento foram: Director
Peter Jackson        4
Pete Docter          3
Anthony Russo        3
David Yates          3
Christopher Nolan    3
James Gunn           2
Steven Spielberg     2
Brad Bird            2
James Cameron        2
Chris Columbus       2
Name: count, dtype: int64

In [72]:
df.to_csv("desafio_indicium_imdb3.csv")